.downloader1Icon {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 727px;
  object-fit: cover;
}
.getAccessTo,
.login1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-10xl);
  line-height: 34px;
  font-family: var(--font-lato);
  color: var(--color-darkslateblue-200);
  text-align: left;
}
.getAccessTo {
  font-size: var(--font-size-base);
  color: var(--color-darkgray-200);
}
.formTextTermsOfUsePriva {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xl) 0 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.input {
  border: 0;
  background-color: transparent;
  align-self: stretch;
}
.emailmobileNo {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.byContinuingYou,
.termsOfUse {
  font-family: var(--font-lato);
  color: var(--color-slategray-200);
}
.termsOfUse {
  font-weight: 500;
  color: var(--color-black);
}
.byContinuingYouContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 34px;
  text-align: left;
}
.formTextTermsOfUsePriva1 {
  align-self: stretch;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.submit {
  position: absolute;
  height: calc(100% - 27px);
  width: calc(100% - 18.88px);
  top: 13.5px;
  left: 9.52px;
  font-size: var(--font-size-base);
  font-family: var(--components-button-large);
  text-align: center;
  display: inline-block;
}
.submit,
.submit:hover {
  color: var(--primary-contrast);
}
.formLoginButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-lightseagreen);
  position: relative;
  border-radius: var(--br-3xs);
  width: 494px;
  height: 47px;
  flex-shrink: 0;
}
.formLoginButton:hover {
  background-color: var(--color-tomato);
}
.formFields {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.or1,
.submit1 {
  text-align: center;
}
.or1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 34px;
  font-family: var(--font-lato);
  color: var(--color-slategray-200);
}
.submit1 {
  position: absolute;
  height: calc(100% - 27px);
  width: calc(100% - 18.88px);
  top: 13.5px;
  left: 9.52px;
  font-size: var(--font-size-base);
  font-family: var(--components-button-large);
  color: var(--color-black);
  display: inline-block;
}
.signUpButton {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: 0;
  background-color: var(--primary-contrast);
  position: relative;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 494px;
  height: 47px;
  flex-shrink: 0;
}
.signUpButton:hover {
  background-color: var(--color-slategray-200);
  border: 1px solid var(--primary-contrast);
  box-sizing: border-box;
}
.form,
.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.form {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--primary-contrast);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.03);
  padding: var(--padding-2xl) var(--padding-3xl);
  align-items: flex-start;
  gap: var(--gap-sm);
}
.loginForm {
  width: 594.04px;
  padding: var(--padding-xs);
  box-sizing: border-box;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative !important;
  left: auto !important;
}
.mainContainer,
.mainContentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mainContentContainer {
  width: 765px;
  height: 581px;
  flex-shrink: 0;
  padding: 145px var(--padding-12xl) var(--padding-5xl) var(--padding-13xl);
  box-sizing: border-box;
  justify-content: center;
}
.mainContainer {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(90deg, #000, rgba(0, 0, 0, 0.1) 56.77%);
  height: 727px;
  justify-content: flex-start;
}
.mainSection {
  align-self: stretch;
  position: relative;
  height: 727px;
  flex-shrink: 0;
  mix-blend-mode: multiply;
  padding: 10%;
}
.login {
  position: relative;
  background-color: var(--primary-contrast);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
@media screen and (max-width: 1200px) {
  .mainContentContainer {
    padding-left: var(--padding-10xl);
    padding-right: var(--padding-10xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 768px) {
  .downloader1Icon {
    width: 768px;
    background-position: center;
  }
  .formLoginButton,
  .signUpButton {
    width: 100%;
  }
  .loginForm {
    padding: var(--padding-md) 0;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative !important;
    left: auto !important;
    width: 90%;
  }
  .mainContentContainer {
    width: 680px;
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-14xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .mainSection {
    height: 695px;
  }
}
@media screen and (max-width: 428px) {
  .loginForm,
  .mainContentContainer {
    padding-left: var(--padding-md);
    padding-right: var(--padding-md);
    box-sizing: border-box;
  }
  .loginForm {
    padding-top: var(--padding-7xl);
    margin-left: auto;
    margin-right: auto;
    position: relative !important;
    left: auto !important;
    width: 100% !important;
  }
  .mainContentContainer {
    width: 428px;
  }
}
